# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Gradio local runtime cache
.gradio/
# Machine learning models
*.joblib
*.pkl
*.h5
*.keras
*.pt
*.pth
*.onnx

#agents
.agents/

task6-music-genre-classification/Data

task8-traffic-sign-recognition/GTSDB_Train_and_Test
task8-traffic-sign-recognition/runs/gtsdb_yolov8n
runs/
task8-traffic-sign-recognition/datasets